<nav class="navbar">
  <div class="nav-container">
    <ul class="nav-links">
        <li class="nav-item"><a href="/auth/login">Log in</a></li>
        <li class="nav-item"><a href="/auth/register">Register</a></li>
    </ul>
  </div>
</nav>