<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
    <main class="notFound page-content">
      <h2 class="page-err">404 : Page Not Found</h2>
      <p>The requested page could not be found.</p>
  </main>

</body>
</html>