<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/nav.ejs") %>
  <main class="page-content">
    <% if (locals.currentUser) { %>
        <h1 class="page-title">Welcome back <%= currentUser.username %></h1>
        <a class="newBtn" href="/new-post">New Post</a>
      <% } else { %>
        <h1 class="page-title">Welcome Newcomer</h1>
        <div class="notification">
          <p>To create post, you need <a href="/auth/login">Login</a> first.</p>
        </div>
      <% } %>
  </main>
</body>
</html>