<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/nav.ejs") %>
  <main class="page-content">
    <% if (locals.currentUser) { %>
        <h1 class="page-title">Welcome back <%= currentUser.username %></h1>
        <a class="newBtn" href="/new-post">New Post</a>
        <div class="notification">
          <p>To view Usernames and Full Names you must <a class="join" href="#">Join</a> in to the community</p>
        </div>
      <% } else { %>
        <h1 class="page-title">Welcome Newcomer</h1>
        <div class="notification">
          <p>To create post, you need <a href="/auth/login">Login</a> first.</p>
        </div>
      <% } %>
        <% if (posts.length === 0) { %>
          <p>There are no posts at the moment.</p>
        <% } else { %>
        <div class="posts">
        <% posts.forEach(function(post) { %>
          <%- include('./partials/post', { post: post, user: currentUser }) %>
        <% }); %>
      <% } %>
    </div>
  </main>
</body>
</html>