<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/nav.ejs") %>
  <main class="page-content">
    <h1 class="page-title">Log In</h1>
    <form action="/login" method="POST">
      <div class="formRow">
        <div class="rowLabel">
          <label for="username">Your Username or Email address:</label>
        </div>
          <input id="username" name="username" type="text" placeholder="Username">
      </div>
      <div class="formRow">
        <div class="rowLabel">
          <label for="password">Your Password</label>
        </div>
          <input id="password" name="password" type="password" placeholder="Password">
      </div>
      <button class="logBtn" type="submit">Log In</button>
    </form>
  </main>
</body>
</html>