* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  padding: 1rem;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
}

.nav-links {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

.nav-links a {
  text-decoration: none;
  font-weight: bold;
  color: #364153;
  padding: 0.5rem 1rem;
  background-color: #7D8CC4;
  border-radius: 0.5rem;
}

.page-content {
  max-width: 1280px;
  margin: 0 auto;
}

.page-title {
  padding-bottom: 2rem;
}

.formRow {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.formRow input {
  background-color: #dddfdf;
  border-color: #c6c6c6;
  border-radius: 4px;
}

.rowLabel label {
  font-weight: bold;
}

.rowLabel p {
  font-size: 12px;
  color: #898989
}

.logBtn,
.regBtn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  border-radius: 2rem;
}